* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ECEFF4;
}

/* 三个区域 */
.modules-left,
.modules-center,
.modules-right {
    background: rgba(25, 25, 25, 0.88);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 14px;
    padding: 0 10px;
    margin: 6px 8px;
}

/* Arch Logo */
#custom-arch {
    color: #1793D1;
    font-size: 18px;
    padding: 0 10px;
}

/* 工作区 */
#workspaces {
    margin: 0 4px;
}

#workspaces button {
    color: #7c7c7c;
    padding: 0 6px;
    border-radius: 8px;
}

#workspaces button.active {
    color: #ffffff;
    background: #1793D1;
}

#workspaces button:hover {
    background: rgba(255,255,255,0.08);
}

/* 当前窗口 */
#window {
    color: #D8DEE9;
    padding: 0 12px;
}

/* 右侧模块统一 */
#custom-input,
#tray,
#network,
#pulseaudio,
#clock {
    padding: 0 8px;
}

/* 输入法 */
#custom-input.cn {
    color: #88C0D0;
}

#custom-input.en {
    color: #A3A3A3;
}

/* 网络 */
#network {
    color: #8FBCBB;
}

/* 音量 */
#pulseaudio {
    color: #EBCB8B;
}

/* 时间 */
#clock {
    color: #D8DEE9;
}
