* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #111111;
    color: #ffffff;
    border-bottom: 1px solid #2a2a2a;
}

#custom-arch {
    color: #1793D1;
    padding: 0 12px;
    font-size: 18px;
}

#workspaces button {
    color: #777777;
    padding: 0 8px;
}

#workspaces button.active {
    color: #1793D1;
}

#window {
    color: #cccccc;
}

#clock,
#cpu,
#memory {
    padding: 0 12px;
}
